<%- include('partials/header'); -%>

<ul class="courses">
  <li class="courses">
    
    <h4>C Basics</h4>
    <p>Basics, C Programming,</p>
  </li>
  <li class="courses">
    <h4>Advance, C Programming</h4>
    <p>Advance C(FILE HANDLING), Advance Course</p>
  </li>
  <li class="courses">
    
    <h4>C++ Programming</h4>
    <p>C++, C++ Programming With basics of oops</p>
  </li>
  <li class="courses">
    <h4>JAVA Programming</h4>
    <p>JAVA Programming incluing OOPS ,</p>
  </li>
  
    
    <h4>Python Programming</h4>
    <p>Python Coding,Live Working on projects</p>
  </li>
  </ul>

<%- include('partials/footer'); -%>